.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.yellowText {
  color: yellow;
}
.yellowBg {
  background-color: yellow;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spc-bet {
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: column;
}
.width {
  width: 350px;
}
.nameAge {
display: flex;
flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 48px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}
span {
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
