.deedtalh{
 width: 200px;
 height: 50px;
 background-color:yellow ;
 border-radius: 50px 50px 0 0 ;
}

.salad{

    width: 210px;
    height: 2px;
background-color:red;
}
.vegetable{
    width: 210px;
    height: 2px;
background-color: rgb(56, 255, 56);

}
.cheese{
    width: 210px;
    height: 2px;
background-color: yellow;
}
.meat{
width: 220px;
height: 30px;
background-color: rgb(107, 31, 31);
}
.doodtalh{
    width: 200px;
    height: 50px;
    background-color:rgb(255, 174, 0) ;
    border-radius: 0 0 50px 50px ;
}